* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5FFFA;
}
.wrapper {
    /* border: 1px solid red; */
    width: 500px;
    height: 500px;
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.start {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    background-color: #fff8dc;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 70px;
    cursor: pointer;
}
.content {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50px;
}
.content .box {
    float: left;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 8px #fff;
}
.content .hover {
    opacity: 0.7;
    border: 1px solid #8E8E8E;
    box-shadow: 0 0 5px #8E8E8E;
}
